<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Movie reviews</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
<h1>수정하기</h1>

<form action="/reviews/{{review.id}}/update/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if review.poster %}
        <img src="{{ review.poster.url }}" alt="포스터" style="max-width:200px;"><br>
    {% endif %}
    <input type="file" name="poster"><br/>
    <input name="title" placeholder="제목" value="{{review.title}}"><br>
    <input name="year" placeholder="제작 년도" value="{{review.year}}"><br>
    <input name="director" placeholder="감독" value="{{review.director}}"><br>
    <input name="actors" placeholder="주연" value="{{review.actors}}"><br>
    <div class="new-review">장르
        <select name="genre">
            {% for code, label in genre_choices %}
                <option value="{{ code }}" {% if review.genre == code %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>
    <input name="rating" placeholder="별점" value="{{review.rating}}"><br>
    <input name="running_time" placeholder="러닝 타임" value="{{review.running_time}}"><br>
    <textarea name="content" placeholder="내용" cols="30" rows="10">{{review.content}}</textarea><br>
    <div>
        <input type="submit" value="수정 완료">
    </div>
</form>
</body>
</html>