<h1> 영화 등록하기 </h1>

<form action="/reviews/create/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="poster"> <br/>
    <input name="title" placeholder="제목" /> <br/>
    <input name="year" placeholder="개봉 년도" /> <br/>
    <input name="director" placeholder="감독" /> <br/>
    <input name="actors" placeholder="주연" /> <br/>
    <input name="genre" placeholder="장르" /> <br/>
    <input name="rating" placeholder="별점" /> <br/>
    <input name="running_time" placeholder="러닝 타임" /> <br/>
    <textarea name="content" cols="30" rows="10"></textarea>
    <br/>
    <div>
        <input type="submit" value="작성완료">
    </div>
</form>