<h1>수정하기</h1>

<form action="/reviews/{{review.id}}/update/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if review.poster %}
        <img src="{{ review.poster.url }}" alt="포스터" style="max-width:200px;"><br>
    {% endif %}
    <input type="file" name="poster"><br/>
    <input name="title" placeholder="제목" value="{{review.title}}"><br>
    <input name="year" placeholder="제작 년도" value="{{review.year}}"><br>
    <input name="director" placeholder="감독" value="{{review.director}}"><br>
    <input name="actors" placeholder="주연" value="{{review.actors}}"><br>
    <input name="genre" placeholder="장르" value="{{review.genre}}"><br>
    <input name="rating" placeholder="별점" value="{{review.rating}}"><br>
    <input name="running_time" placeholder="러닝 타임" value="{{review.running_time}}"><br>
    <textarea name="content" placeholder="내용" cols="30" rows="10">{{review.content}}</textarea><br>
    <div>
        <input type="submit" value="수정 완료">
    </div>
</form>