* {
    box-sizing: border-box;
}
html, body {
    width: min(1200px, 100%);
    margin: auto;
    background-color: black;
    color: white;
    font-size: 10px;
    font-family: Nexon, -apple-system;
}
#header {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 90px;
    justify-content: space-between;
}
#icon {
    text-decoration: none;
}
#icon > img {
    width: 40px;
    height: 40px;
}
#ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    font-weight: 550;
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}
#ul > li {
    flex-direction: row;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    transition: transform 0.1s linear;
}
#ul > li:hover {
    transform: translateY(-2px);
}
#ul > li > a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    border: none;
}
#ul > li > a:hover {
    transform: translateY(-2);
}
#ul > li:nth-of-type(3) {
    color: #0bec12;
}
#main {
    padding: 90px 40px 50px;
    margin-top: -90px;
}
#first-div {
    display: flex;
    flex-direction: row;
    margin: 0 0 16px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
#first-div > span {
    position: absolute;
    left: 50%;
    font-size: 2.2rem;
    text-align: center;
}
#main > div > a {
    position: absolute;
    right: 0;
    text-decoration: none;
    color: inherit;
}
#second-span {
    font-size: 1.5rem;
}
#second-span::after {
    content: "\ea6e";
}
.portfolio {
    display: flex;
    position: relative;
    width: 100%;
    height: 141.98px;
    padding: 16px;
    margin: 0 0 16px;
    background-color: #333333;
    border-radius: 10px;
    gap: 16px;
    transition: transform 0.1s ease-in-out;
}
.portfolio:hover {
    transform: translateY(-2px);
}
.picture {
    display: flex;
    width: 150px;
    border-radius: 6px;
    background-color: white;
    align-content: center;
}
.picture > img {
    padding: 10px 20px;
    width: 100%;
    align-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team-name {
    font-size: 2.2rem;
    font-weight: 900;
}
.introduction {
    font-size: 1.6rem;
    color: #c6c6c6;
}
.member {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding-left: 0;
    list-style-type: none;
}
.member > li {
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 6px 8px;
    background-color: rgba(236, 236, 236, 0.466);
    color: black;
}
#leader {
    background-color: #2188b6;
    color: white;
}
.hamburger {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
}
.hamburger > div {
    width: 100%;
    height: 2px;
    background-color: rgba(236, 236, 236, 0.466);
    transition: 0.5s;
}