* {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.back-link {
    color: #6c757d;
    text-decoration: none;
}

.back-link > h1 {
    padding: 0 30px;
}

.back-link span {
    color: #ffbe0b;
}

.container {
    background-color: #ced4da;
}