{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My SW Idea Manage</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/devtools_create.css' %}">
</head>
<body>
    <a href="/" class="back-link"><h1>My <span>SW Idea</span> Manage</h1></a>

<div class="container">
    <h1>DevTool Register</h1>
    <div>
        <div class="form-div">
            <form action="/devtools/create/" method="post">
                {% csrf_token %}
                <div class="new-idea">이름<input name="name" /></div>
                <div class="new-idea">종류<input name="kind" /></div>      
                <div class="new-idea"><div>개발툴 설명</div><textarea name="content" cols="30" rows="10"></textarea></div>

                <div class="submit-button">
                    <input class="button" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
</body>