{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My SW Idea Manage</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/devtools_list.css' %}">
</head>
<body>
    <a href="/ideas/" class="back-link"><h1>My <span>SW Idea</span> Manage</h1></a>

     <div class="container">
        <div class="idea-container">
        {% for devtool in devtools %}
            <a href="/ideas/{{ idea.id }}" style="text-decoration: none;">
                <div class="idea">
                    <div class="idea-image">
                        {% if idea.photo %}
                        <img src="{{ idea.photo.url }}" alt="image">
                        {% else %}
                        <img src="{% static 'img/no-image.jpg' %}" alt="defaultImage">
                        {% endif %}
                    </div>

                    <div class="title">{{ idea.title }}</div><hr>
        
                    <div class="content">{{ idea.content }}</div>

                    <div class="content">아이디어 관심도 : {{ idea.interest }}</div>
                </div>
            </a>
        {% endfor %}
        </div>
     </div>
</body>